Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [1]:
import pandas as pd

# Create a Pandas Series with the specified data
data = [4, 8, 15, 16, 23, 42]
series = pd.Series(data)

# Print the series
print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it.

In [2]:
import pandas as pd

# Create a list with 10 elements
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Convert the list to a Pandas Series
series = pd.Series(my_list)

# Print the series
print(series)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [4]:
#q3 - Q3. Create a Pandas DataFrame that contains the following data:

"""Name
Alice
Bob
Claire

Age
25
30
27

Gender
Female
Male
Female

Then, print the DataFrame."""

import pandas as pd

# Create a dictionary with the data
data = {
    'Name': ['Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'Male', 'Female']
}

# Convert the dictionary to a Pandas DataFrame
df = pd.DataFrame(data)

# Print the DataFrame
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

In [5]:
"""
A DataFrame is a two-dimensional, size-mutable, and potentially heterogeneous tabular data structure. It can be thought of as a table or a spreadsheet, where data is organized in rows and columns. Each column can hold different types of data (e.g., integers, floats, strings), and a DataFrame can have an index that allows for easy data manipulation.

Key Differences between DataFrame and Series:
Dimensionality: 
Series: One-dimensional. It can be seen as a single column of data.
DataFrame: Two-dimensional. It consists of multiple columns.
Structure:
Series: A single data column with an index.
DataFrame: Multiple data columns, each of which can be a Series itself.

Use Cases:
Series: Best used for single-column data or when you need to perform operations on a single list of data.
DataFrame: Best used for multi-dimensional datasets, where you want to analyze relationships between different attributes.
Example:
"""

import pandas as pd

# Creating a Pandas Series
data_series = pd.Series([25, 30, 27], index=['Alice', 'Bob', 'Claire'])
print("Pandas Series:")
print(data_series)
print("\n")

# Creating a Pandas DataFrame
data_dict = {
    'Name': ['Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'Male', 'Female']
}
data_frame = pd.DataFrame(data_dict)
print("Pandas DataFrame:")
print(data_frame)

Pandas Series:
Alice     25
Bob       30
Claire    27
dtype: int64


Pandas DataFrame:
     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?

In [6]:
"""
Pandas offers a wide range of functions to manipulate data in a DataFrame. Here are some common ones along with examples of when you might use them:

Common Functions
head(n): Returns the first n rows of the DataFrame.
Use Case: Quickly preview the top rows of a DataFrame.
df.head(3)  # Shows the first 3 rows

tail(n): Returns the last n rows of the DataFrame.
Use Case: Check the last few entries after sorting or filtering.
df.tail(2)  # Shows the last 2 rows

info(): Provides a summary of the DataFrame, including the number of non-null entries and data types.
Use Case: Understand the structure and data types of the DataFrame.
df.info()  # Shows information about the DataFrame

describe(): Generates descriptive statistics for numerical columns.
Use Case: Quickly analyze statistical properties like mean, median, and standard deviation.
df.describe()  # Provides summary statistics

drop(labels, axis): Removes specified rows or columns.
Use Case: Remove unnecessary columns from a DataFrame.
df.drop('Gender', axis=1)  # Drops the 'Gender' column

filter(): Allows filtering data based on conditions.
Use Case: Extract specific rows that meet a condition.
df[df['Age'] > 25]  # Shows rows where Age is greater than 25

groupby(): Groups the DataFrame using a specified column and allows aggregation.
Use Case: Calculate the average age by gender.
df.groupby('Gender')['Age'].mean()  # Calculates average age by gender

sort_values(by): Sorts the DataFrame based on one or more columns.
Use Case: Sort data to identify the oldest person.
df.sort_values(by='Age', ascending=False)  # Sorts by Age in descending order

Example 
"""

import pandas as pd

# Sample DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Claire', 'David', 'Eva'],
    'Age': [25, 30, 27, 22, 29],
    'Gender': ['Female', 'Male', 'Female', 'Male', 'Female']
}
df = pd.DataFrame(data)

# 1. Preview the DataFrame
print("First 3 entries:")
print(df.head(3))

# 2. Get a summary of the DataFrame
print("\nDataFrame Info:")
print(df.info())

# 3. Calculate average age by gender
average_age = df.groupby('Gender')['Age'].mean()
print("\nAverage Age by Gender:")
print(average_age)

# 4. Sort by Age
sorted_df = df.sort_values(by='Age', ascending=False)
print("\nDataFrame Sorted by Age:")
print(sorted_df)

First 3 entries:
     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

DataFrame Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    5 non-null      object
 1   Age     5 non-null      int64
 2   Gender  5 non-null      object
dtypes: int64(1), object(2)
memory usage: 252.0+ bytes
None

Average Age by Gender:
Gender
Female    27.0
Male      26.0
Name: Age, dtype: float64

DataFrame Sorted by Age:
     Name  Age  Gender
1     Bob   30    Male
4     Eva   29  Female
2  Claire   27  Female
0   Alice   25  Female
3   David   22    Male

Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

In Pandas, both Series and DataFrame are mutable in nature, meaning you can modify their contents after they are created. This includes operations such as adding, removing, or updating elements.

Series: You can change values, add new entries, or remove existing ones.
DataFrame: You can modify values, add or drop columns/rows, and change data types.
Panel, however, is a three-dimensional data structure that is considered deprecated in recent versions of Pandas. It is not commonly used, and you are encouraged to use multi-dimensional arrays (e.g., with xarray) or more complex DataFrames instead.

Q7. Create a DataFrame using multiple Series. Explain with an example.

In [8]:
import pandas as pd

# Create individual Series
name_series = pd.Series(['Alice', 'Bob', 'Claire'])
age_series = pd.Series([25, 30, 27])
gender_series = pd.Series(['Female', 'Male', 'Female'])

# Combine Series into a DataFrame using a dictionary
data = {
    'Name': name_series,
    'Age': age_series,
    'Gender': gender_series
}

df = pd.DataFrame(data)

# Print the DataFrame
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female